
/* ------------ Mobil first ----------- */

/* GENERAL*/

.body{
    background-color: #E8D8C4 ;
}

.block{
    background-color: #C7B7A3;
    border-radius: 15px;
    padding-bottom: 1%;
}

/* NAVBAR */
nav{
    background-color: #561C24;
}

.logo{
    border-radius: 50%;
    height: 8vh;
}

.nav-item{
    border: 1px solid #C7B7A3 ;
    background-color: #E8D8C4;
    padding: 10px;
    margin: 10px 60px;
    border-radius: 15px;
}

.container-fluid{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.logo{
    display: none;
}

.logo-mobil{
    
    height: 52px;
    border-radius: 50%;
}

/* CAROUSEL */



.carousel{
    margin: auto;
    padding: 20px;
    background-color: #C7B7A3;
    width: 90vw;

}

.carousel-item{
    height: 50vh;
}

.text-carousel{
    text-align: justify;
    padding: 20px;
    border-radius: 15px ;
   
 
}

h2{
    text-align: center;
}

 /* CHIEF */ 


   .chief-img{
    height: auto;
    width: 80vw;
    margin: 5% 10%;
   }

   .text-chief{
      text-align: justify;
      margin: 5% 10%;
      padding: 8px;
      background-color: #E8D8C4;
      border-radius: 15px;
   }


/* FOOTER */

footer{
    background-color: #561C24;
}


.footer-container{
    margin-top: 25px;
    padding: 20px;
}

.footer-item{
    margin: 25px;
}
/* ------------ Desktop ----------- */

@media screen and (min-width: 992px) {
    /* GENERAL */
    .block{
        margin: 50px;
    }

    /* NAVBAR */
    .logo{
        display: inline;  
    }

    .logo-mobil{
        display: none;
    }

    .container-fluid{
        display: flex;
        flex-direction: column;
        margin: auto;
    }


    /* CAROUSEL */

   

    .carousel-item{
        height: 70vh;
    }


    .text-carousel{
        text-align: justify;
        margin: 10px 45px;
        padding: 20px;
        background-color: #E8D8C4;
     
    }



   /* CHIEF */ 
   .chief{
    display: flex;
   }

   .chief-img{
    margin: 30px;
    border-radius: 15px ;
   }

   .text-chief{
      text-align: justify;
        margin: auto;
        margin-right: 20px;
        padding: 20px;
        background-color: #E8D8C4;
        border-radius: 15px;
   }
    
/* FOOTER */


.footer-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}


    .footer-item{
        margin-top: 25px;
        margin: auto;
    }



}

/* Page MENUS */

.fond_logo_menus {
    background-image: url(assets/Le_Bacchus_logo.webp);
    width: 1138px;
    height: 1118px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
}

.titre_principal_menus {
    color: #820C0C;
    font-family: 'Babylonica', cursive;
    font-size: 50px;
    font-weight: 400;
}
.titre_secondaire_menus {
    color: #490C0C;
    font-family: 'Arizonia', cursive;
    font-size: 25px;
   
}

.explication_menus {
font-family: 'Dekko', cursive;
}

.suggestion_vin {
font-family: 'Courgette', cursive;
font-size: 12px;
}

.conteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.box1, .box3 {
   width: 33vw;
    position: relative;
    z-index: 1;
}


/*
.box2 {
    display: flex;
    justify-content: center;;
    align-items: center;
    opacity: 0.5;
    position: relative;
    z-index: 0;
}

.img-logo{
    height: 70vh;
}

*/

.bg-logo{
    background-image: url(/assets/Le_Bacchus_logo.webp);
    background-repeat: no-repeat;
    background-position: center;
}

.box3{
    text-align: end;
}

.box1 > .titre_secondaire_menus {
    text-align: left;
}

.box3 > .titre_secondaire_menus {
    text-align: right;
}